/* New CSS */
/*

Dark blue - #6688EE
Baby blue - #E3E9FF 
Green background - #BFE894
Green shadow - #6CBE1C
Orange - #E8B36D
Orange shadow - #CE9654
Red - #FF8A94
Red shadow - #CC6E76

*/

html
{
	max-height:500px;
}

.clrfix
{
	height:1px;
	width:1px;
	clear:both;
}

body
{
	font-family:Arial;
	width:590px;
	max-height:450px;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.11, rgb(255,255,255)),
	    color-stop(0.55, rgb(235,235,235))
	);
	
}

#status-items-block
{
 max-height:400px;	
 overflow:auto;
}

::-webkit-scrollbar 
{
	margin-left:2px;
	width:6px;
	background-color:#fff;
}

::-webkit-scrollbar-thumb 
{
	background-color:#bbb;
}


.status-item
{
	margin-bottom:15px;
	margin-right: 5px;
}

.date-info 
{
	text-align:right;
	width:70px;
	float:left;
	padding-top:10px;
}


.date-info .date 
{
	font-size:17px;
	font-weight:bold;
}

.date-info .year ,
.date-info .weekday 
{
	font-size:12px;
}

.ticket-status
{
	margin-left:76px;
	border-radius: 4px;
	background-color:#fff;
	box-shadow: 1px 2px 2px 2px #ebebeb;
	padding:5px;
}

.ticket-status .start-destination
{
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
}

.ticket-status .pnr-num
{
	color:#666666;
	font-size:11px;
	float:right;
	text-align:right;
}

.ticket-status .ticket-items
{
	margin-top:9px;
}

.ticket-status .ticket-items .train-name-block .train-num
{
	font-weight:bold;
	font-size:14px;
	float:left;
}


.ticket-status .ticket-items .train-name-block .train-name
{
	font-size:10px;
	font-weight:bold;
	text-transform:uppercase;
	padding-left:44px;
	padding-top:1px;
}

.ticket-status .ticket-items .train-name-block
{
	width:196px;
}

.title
{
	font-size:21px;
}

.ticket-status .ticket-items ul.ticket-item-list
{
	float:right;
	list-style:none;
	padding:0;
	margin:0;
}

.ticket-status .ticket-items ul li
{
	width:52px;
	height:51px;
	border-radius:4px;
	float:right;
	text-align:center;
	margin-left:8px;
	color:#fff;
}

.ticket-status .ticket-items ul li .ticket-status-text
{
	font-size:11px;
	margin-top:10px;
	font-weight:bold;
	text-transform:uppercase;
}


.ticket-status .ticket-items ul li .ticket-status-num
{
	font-size:17px;
}

.ticket-status .ticket-items ul li.cnf
{
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.11, #568D6D),
	    color-stop(0.55, #96CDB0)
	);
}	

.ticket-status .ticket-items ul li.rac
{
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.11, #FF9C0B),
	    color-stop(0.85, #FFCAC5)
	);
}

.ticket-status .ticket-items ul li.wl
{
	
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.05, #D01313),
	    color-stop(0.95, #F5CDCB)
	);
}

.ticket-status .ticket-items ul li.clrfix
{

	height:10px;
	width:1px;
	clear:both;	
}


.ticket-status .chart-status {
	font-size:11px;
	padding:9px 0 3px 20px;
	margin-top:12px;
}

.ticket-status .chart-status-not-prepared {
	background:url(chart_not_prepared.png) no-repeat 1px 4px;
	color:#ccc;
}


.ticket-status .chart-status-prepared {
	background:url(chart.png) no-repeat 1px 4px;
	color:#009966;
}

#edit-block 
{
	margin:10px 0 5px 0;
}

#edit-block #add-pnr
{
	display:inline-block;
	border:1px solid #999;
	border-radius:14px;
	height:31px;
	font-size:16px;
	width:320px;
	margin-right:-80px;
	padding:0 88px 0 10px;
}

#edit-block #add-block .add-response
{
	box-shadow: 1px 2px 2px 2px #ebebeb;
  background: #ccc;
  opacity: 2;
  width: 308px;
  border-radius: 21px;
  padding: 6px;
  font-size: 16px;
  display:none;
  text-align:center;
  font-weight:bold;
}

#edit-block #add-block .add-response.success
{
  background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.11, #568D6D),
	    color-stop(0.55, #96CDB0)
	);
  color:#fff;
}

#edit-block #add-block .add-response.error
{
  background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.05, #D01313),
	    color-stop(0.95, #F5CDCB)
	);
  color:#fff;
}

#edit-block #add-block #add-button
{
	padding:8px 10px;	
	background-color:#339966;
	color:#fff;
	font-weight:bold;
	font-size:12px;
	border:0 none;
	padding:8px 10px;
	border-radius:14px;
}

#edit-block #give-feedback
{
	display:block;
	float:right;
	background-color:#82A5B7;
	color:#fff;
	font-size:10px;
	font-weight:bold;
	border-radius:10px;
	padding:8px 10px;
	text-decoration:none;
	cursor:pointer;
}

.fetching
{
  text-align:center;
  background:#fff url(ajax-loader.gif) no-repeat 260px 30px;
  width:578px;
  float:left;
  padding:10px 0 24px 0;
	box-shadow: 1px 2px 2px 2px #ebebeb;
  border-radius:4px;
  margin:0 auto;
}

.fetching-pnr
{
	float:right;
	text-align:center;
	width:300px;
	background:#fff url(ajax-loader.gif) no-repeat 128px 15px;
	font-size:12px;
	padding-bottom:20px;
}

.delete
{
  font-size:9px;
  border:1px solid #bbb;
  padding:0 1px;
  display:inline-block;
  float:right;
  position:relative;
  left:2px;
  top:-1px;
  font-weight:bold;
  cursor:pointer;
}
