/* New CSS */
/*

Dark blue - #6688EE
Baby blue - #E3E9FF 
Green background - #BFE894
Green shadow - #6CBE1C
Orange - #E8B36D
Orange shadow - #CE9654
Red - #FF8A94
Red shadow - #CC6E76

*/

html
{
	height:500px;
}

.clrfix
{
	height:1px;
	width:1px;
	clear:both;
}

body
{
	font-family:Arial;
	width:590px;
	height:450px;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.11, rgb(255,255,255)),
	    color-stop(0.55, rgb(235,235,235))
	);
	
}

#status-items-block
{
 height:400px;	
 overflow:auto;
}

::-webkit-scrollbar 
{
	margin-left:2px;
	width:6px;
	background-color:#fff;
}

::-webkit-scrollbar-thumb 
{
	background-color:#bbb;
}


.status-item
{
	margin-bottom:15px;
	margin-right: 5px;
}

.date-info 
{
	text-align:right;
	width:70px;
	float:left;
	padding-top:10px;
}


.date-info .date 
{
	font-size:17px;
	font-weight:bold;
}

.date-info .year 
{
	font-size:12px;
}

.ticket-status
{
	margin-left:76px;
	border-radius: 4px;
	background-color:#fff;
	box-shadow: 1px 2px 2px 2px #ebebeb;
	padding:5px;
}

.ticket-status .start-destination
{
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
}

.ticket-status .pnr-num
{
	color:#666666;
	font-size:11px;
	float:right;
	text-align:right;
}

.ticket-status .ticket-items
{
	margin-top:9px;
}

.ticket-status .ticket-items .train-name-block .train-num
{
	font-weight:bold;
	font-size:14px;
	float:left;
}


.ticket-status .ticket-items .train-name-block .train-name
{
	font-size:10px;
	font-weight:bold;
	text-transform:uppercase;
	padding-left:44px;
	padding-top:1px;
}

.ticket-status .ticket-items .train-name-block
{
	width:196px;
}

.title
{
	font-size:21px;
}

.ticket-status .ticket-items ul.ticket-item-list
{
	float:right;
	list-style:none;
	padding:0;
	margin:0;
}

.ticket-status .ticket-items ul li
{
	width:52px;
	height:51px;
	border-radius:4px;
	float:right;
	text-align:center;
	margin-left:8px;
	color:#fff;
}

.ticket-status .ticket-items ul li .ticket-status-text
{
	font-size:11px;
	margin-top:10px;
	font-weight:bold;
	text-transform:uppercase;
}


.ticket-status .ticket-items ul li .ticket-status-num
{
	font-size:17px;
}

.ticket-status .ticket-items ul li.cnf
{
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.11, #568D6D),
	    color-stop(0.55, #96CDB0)
	);
}	

.ticket-status .ticket-items ul li.rac
{
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.11, #FF9C0B),
	    color-stop(0.85, #FFCAC5)
	);
}

.ticket-status .ticket-items ul li.wl
{
	
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.05, #D01313),
	    color-stop(0.95, #F5CDCB)
	);
}

.ticket-status .ticket-items ul li.clrfix
{

	height:10px;
	width:1px;
	clear:both;	
}